<h2>{{ titulo }}</h2>
<p>Verifique se um número é par ou ímpar</p>
<hr class="mb-5">
<div class="d-flex flex-row mb-5">
  <div class="col-6 align-self-center">
    <form>
      <div class="form-group">
        <label for="inputNumberQuest1">Número</label>
        <input #num type="number" class="form-control" id="inputNumberQuest1" placeholder="Coloque um número" >
      </div>
      <button (click)="verificarNumeroPar(num.value)" type="button" class="btn btn-primary">Verificar</button>
    </form>
  </div>
  <div class="col-6 align-self-center" *ngIf="numero !== null" >
    <h2 [class]="numeroClasse">Número {{ numero }} é {{ tipoNumero | uppercase }} </h2>
  </div>
</div>