<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Prova 01</h1>
    <p class="lead">Avaliação dos conhecimentos de Angular.</p>
  </div>
</div>
<div class="container">
  <app-questao01></app-questao01>
  <app-questao03></app-questao03>
  <app-questao04 (people)="adicionarPessoa($event)"></app-questao04>
  <div class="my-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let pessoa of pessoas">
        {{ pessoa.nome | titlecase }} - {{ pessoa.idade }} anos
      </li>
    </ul>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans');
</style>